




.title-bar{
  text-align: center;
  margin: 5% 0 0 5%;

}

.main-title{
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  margin: 0;
  font-weight: 400;

}

.title-links{
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
  color: black;
  margin: 0;
  padding: 25px;
  text-decoration: none;
}

.title-links:hover{
  font-weight: 500;
  color: black;
}

.title-line{
  height: 1.8px;
  margin: 1% auto;
  width: 270px;
  background-color: black;

}

.works-main{
  margin:5%;
    border: solid;
    border-width: 1px;
    background-color: black;
    z-index: -1;
}
.works-work {
  margin:0;
  padding: 0;
  border: solid;
  border-width: 2px 1px;
}

.thumbnail:hover {
opacity: .5;
  transition: 0.3s;

}

.work-name {
opacity: 0;
  position: absolute;
  color:white;
  font-family: "Rubik", sans-serif;
  padding: 2%;
  font-weight: 300;
  z-index: 2;




}

.works-work:hover .work-name{
opacity: 1;
transition: 0.3s;

}





/* video pages styles */
.Video-Text{
padding: 5%;
  text-align: left;
}


.vimeo-source{
max-height: 800px;
min-height: 400px;
}


/* contact page styles */

.contact-info{
  padding: 5%;
}
